/* Add CSS Styling */
.odd-number {
  background-color: rgb(255, 192, 203);
  font-family: Verdana, "DejaVu Sans", sans-serif;
}

.odd-number.custom-font {
  font-size: 24px;
}

#second-element {
  color:#0000ff;
  font-size: 36px;
}

#fourth-element {
  background-color: #90ee90;
  font-size: 24px;
  font-weight: bold;
}